Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
*.a
*~
/png2rgb
/autom4te.cache
/aclocal.m4
/config.log
/config.status
/config.sub
/config.guess
/configure
/config.h.in
/config.h
/ltmain.sh
/libtool
/depcomp
/stamp-h*
/install-sh
/missing


